{% extends 'read/carts.html' %}
{% block title %}Panier{% endblock %}

{% block carts %}

<div class="test">
      <table class="striped responsive-table">
        <thead>
          <tr>
              <th>Image</th>
              <th>Nom Produit</th>
              <th>Quantité</th>
              <th>Prix</th>
              <th>Total</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
            {% for produit in produits %}
            <tr>
                <td><img class="image_panier" src={{ produit.0.photoproduit1.url }}></td>
                <td>{{ produit.0.nomproduit }}</td>
                <td>
                    <a href="{% url 'quantite_less_panier' produit.0.numproduit %}"><i class="material-icons">remove</i></a>
                    <a href="{% url 'ajout_panier' produit.0.numproduit %}"><i class="material-icons">add</i></a>
                    <span>{{ produit.1 }}</span>
                </td>
                <td>{{ produit.0.prixproduit }}</td>
                <td>{{ produit.2 }}</td>
                <td><a href="{% url 'supprimer_panier' produit.0.numproduit %}"><i class="material-icons">delete</i></a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    <div>
        <a href="{% url 'reset_panier' %}" class="btn">Reset le panier</a>
        <a href="{% url 'homepage' %}" class="btn">Continuer commande <i class="material-icons">done_all</i></a>
        <span>Prix total du panier : {{ prix_panier }} euros. </span>
    </div>
</div>

{% endblock %}