{% extends 'read/carts.html' %}
{% block title %}Reservation{% endblock %}

{% block carts %}

<div class="test">
      <table class="striped responsive-table">
        <thead>
          <tr>
              <th>Image</th>
              <th>Nom Produit</th>
              <th>Quantité</th>
              <th>Prix</th>
              <th>Total</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
            {% for produit in produits %}
            <tr>
                <td><img class="image_panier" src={{ produit.0.photoproduit1.url }}></td>
                <td>{{ produit.0.nomproduit }}</td>
                <td>
                    <a href="{% url 'quantite_less_reservation' produit.0.numproduit %}"><i class="material-icons">remove</i></a>
                    <a href="{% url 'ajout_reservation' produit.0.numproduit %}"><i class="material-icons">add</i></a>
                    <span>{{ produit.1 }}</span>
                </td>
                <td>{{ produit.0.prixproduit }}</td>
                <td>{{ produit.2 }}</td>
                <td><a href="{% url 'supprimer_reservation' produit.0.numproduit %}"><i class="material-icons">delete</i></a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    <div>
        <a href="{% url 'reset_reservation' %}" class="btn">Reset la reservation</a>
        <a class="btn">Click & Collect<i class="material-icons">done_all</i></a>
        <span>Prix total de mes réservations : {{ prix_ClickCollect }} euros</span>
    </div>
</div>

{% endblock %}