{% extends 'read/carts.html' %}
{% block title %}Reservation{% endblock %}

{% block carts %}

<h3>Résumé de votre réservation :</h3>

<div class="recapitulation">
{% if error_qte %}

    <h5>Avertissement  sur votre réservation :</h5>
    <span>{{ Erreur }}</span>


{% else %}
    <a href="{% url 'validation_reservation' %}" class="btn green">Réserver maintenant : {{ prix_total }} euros </a>
{% endif %}



{% for ligne_commande in ReservationsEnCours %}
    <div class="collection with-header">
        <li class="collection-header"><i class="material-icons">store</i>{{ ligne_commande.0.nomcommerce }} : <I>Vous avez {{ ligne_commande.0.joursretrait }} jours pour aller chercher ce produit</I></li>
        {% for produit in ligne_commande.1 %}
            {% if produit.0.nomproduit %}
            <li class="collection-item">Produit : {{ produit.0.nomproduit }}, Quantité : {{ produit.1 }} </li><!--Nom du produit-->
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
</div>


{% endblock %}