


/* Concernant la barre de navigation */
.badge-panier {
    display: flex;
}

.badge-panier > .badge {
    min-width:0;
    background-color:white;
    color:black;
}

.nav-wrapper form {
	display: flex;
}

.formulaire {
  justify-content:center;
  display: flex;
  border-radius : 50px;
  border-color : black;
  border-width : 5px;
}

.centrer {
  position: center;
  border-radius : 50px;
  border-color : black;
  border-width : 5px;
}
