


/* Concernant la barre de navigation */
.badge-panier {
    display: flex;
}

.badge-panier > .badge {
    min-width:0;
    background-color:white;
    color:black;
}

.nav-wrapper form {
	display: flex;
}

.formulaire {
  justify-content:center;
  display: flex;
  border-radius : 50px;
  border-color : black;
  border-width : 5px;
}

.Commentaire {
  justify-content:left;
  display: flex;
}

.BlocCom {
  display: flex;
  padding-top: 50px;
  padding-left: 100 px;
}

.blocCentrer {
  position: center;
  border: 5px double;
  border-color: #CEC8E0;
  padding: 50px;
  border-radius : 50px;
}

.case {
  position: center;
  border: 2px ridge;
  border-color: #DFC5FC;
  padding: 25px;
  padding-top:7px;
  padding-bottom: 7px;
  margin : 40px;
  margin-top:0px;
  border-radius : 25px;
}

.page {
  margin-left : 27%;
  margin-right : 27%;
  margin-top : 7%;
  margin-bottom : 7%;
}

.textError{
  color : red;
  font-size : 13px;
  font-style : italic;
}

.boutonForm {
  display : flex;
  position : center;
  justify-content:center;
}

.validerBouton{
  padding:15px;
  font-size : 16px;
  font-weight : bold;
  background: #C088FF;
  border-color: #514261 #3C3445 #1A181C;
  display : flex;
  position : center;
  justify-content:center;
  
}
.titreForm {
  color : purple;
  font-size : 13 px;
  font-weight : bold;
  
}
/* Recherche de produit */
.search_card{
    width: 300px;
}

.search_card .card-image{
    border: 1px solid beige;
}

.search_container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: flex-start;
}

/* Panier */
.image_panier{
    width:10%;
}


.page-footer{
    margin-top: 20%;
}

/* read produit */
.carousel .carousel-item > img{
  width: 70%;
}

.carousel .indicators .indicator-item{
  background-color: transparent;
}

.carousel .indicators .indicator-item.active{
  background-color: black;
}

.titre_image{
  text-align: center;
}

.accueil .carousel .carousel-item > img{
  width: 130%;
}