{% extends 'index.html' %}
{% block content %}
<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Montpellier_Place_de_la_Com%C3%A9die.jpg/280px-Montpellier_Place_de_la_Com%C3%A9die.jpg"><br>MTP</a>
    <a class="carousel-item" href="#two!"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Montpellier_Place_de_la_Com%C3%A9die.jpg/280px-Montpellier_Place_de_la_Com%C3%A9die.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Montpellier_Place_de_la_Com%C3%A9die.jpg/280px-Montpellier_Place_de_la_Com%C3%A9die.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Montpellier_Place_de_la_Com%C3%A9die.jpg/280px-Montpellier_Place_de_la_Com%C3%A9die.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Montpellier_Place_de_la_Com%C3%A9die.jpg/280px-Montpellier_Place_de_la_Com%C3%A9die.jpg"></a>
  </div>
{% endblock %}