{% extends 'index.html' %}

{% block title %}Connexion{% endblock %}
{% block content %}

<div class="page">
  <div class = "formulaire">
    <div class="blocCentrer">
      <form method="post" action="">
      {% csrf_token %}
      {% for field in form %}
          <div>
          {{ field.label_tag }}<br>
          {{ field }}
          </div>
      {% endfor %}
      <div class="boutonForm">
        <button class="btn purple" type="submit">Connexion</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}