{% extends 'index.html' %}

{% block title %}Création d'un compte client{% endblock %}
{% block content %}
<div>
    <form method="post" action="">
    {% csrf_token %}
        {% for field in formClient %}
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            <div>
            {{ field.label_tag }}<br>
            {{ field }}
            </div>
            {% if field.help_text %}
              <small>{{ field.help_text }}</small>
            {% endif %}
        {% endfor %}
        <button type="submit" >CREER UN COMPTE</button>
    </form>
</div>

{% endblock %}