{% extends 'index.html' %}
{% block title %}Carte{% endblock %}

{% block content %}

<div class="justify_center">
    <a id="btn_localisation" class="btn green">Localiser ma position<i class="material-icons">location_on</i></a>
    <a id="btn_commerces" class="btn teal">Afficher les commerces<i class="material-icons">store</i></a>
    <div class="nav-wrapper">
        <form>
            <input id="search_map" type="text" placeholder="Rechercher un commerce...">
            <a id="btn_search_map" class="btn-flat" ><i class="material-icons">search</i></a>
        </form>
    </div>
</div>
{% csrf_token %}
<div id="mapid"></div>





{% endblock %}