{% extends 'index.html' %}

{% load static %}
{% block content %}

{% if request.session.estClient %}

<div class="search_container">
    {% for produit in produits %}
      <div class="card search_card">
      {% if produit.photoproduit1 %}
        <div class="card-image">
            <img class="materialboxed" width="350" src={{ produit.photoproduit1.url }}>
        </div>
      {% endif %}
            <a href="{% url 'read_produit' produit.numproduit %}" class="btn-flat halfway-fab waves-effect waves-light"><i class="material-icons">visibility</i></a>
            <a href="{% url 'ajout_reservation' produit.numproduit %}" class="btn-flat halfway-fab waves-effect waves-light"><i class="material-icons">shopping_basket</i></a>
            {% if produit.idcommerce.livraisondisponible %}
            <a href="{% url 'ajout_panier' produit.numproduit %}" class="btn-flat halfway-fab waves-effect waves-light"><i class="material-icons">shopping_cart</i></a>
            {% endif %}

        <div class="card-content">
            <div><span><I>{{ produit.nomproduit|truncatechars:18 }}</I></span></div> <!--Avec truncatechars on affiche ici les 18 premiers ccaractères du nomproduit-->
            <div><span>Prix : {{ produit.prixproduit }} euros</span></div>
            {% if produit.tauxremise > 0 %}
            <div><span>Promotion : {{ produit.tauxremise }} %</span></div>
            {% endif %}
        </div>
      </div>
    {% endfor %}
</div>

{% else %}
    <div class="recapitulation">
        <a class="btn blue" href="{% url 'create_produit' produit.idcommerce.numsiret %}">Ajouter un nouveau produit</a>
        <div class="collection with-header">
            <div class="collection-header"><h4>Mes produits :</h4></div>
            {% for produit in produits %}
            <div class="collection-item" >
                    <div>{{ produit.nomproduit }} : {{ produit.marqueproduit }} </div>
                <div class="secondary-content"><a href="{% url 'updateproduit' produit.numproduit %}" class="btn-floating green"><i class="material-icons">edit</i></a> <a href="{% url 'delete_produit' produit.numproduit %}" class="btn-floating red"><i class="material-icons">delete</i></a></div>
                    <div>Quantité en stock : {{ produit.quantitestock }},  Quantité disponible : {{ produit.quantitedisponible }}</div>
                <div>Prix: {{ produit.prixproduit }} euros</div><div>Remise: {{ produit.tauxremise }} %</div>

            </div>
            {% endfor %}

        </div>
    </div>
{% endif %}

<div class="justify_center">
    <ul class="pagination">

       {% if produits.has_previous %}

        <li class="waves-effect"><a href="{% url 'produit_by_commerce' idcommerce produits.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
        <li class="waves-effect"><a href="{% url 'produit_by_commerce' idcommerce produits.previous_page_number %}">{{ produits.previous_page_number }}</a></li>
       {% endif %}

        <li class="active teal"><a href="#!">{{ produits.number }}</a></li> <!-- produits.paginator.num_pages -->


       {% if produits.has_next %}

        <li class="waves-effect"><a href="{% url 'produit_by_commerce' idcommerce produits.next_page_number %}">{{ produits.next_page_number }}</a></li>
        <li class="waves-effect"><a href="{% url 'produit_by_commerce' idcommerce produits.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>

       {% endif %}

    </ul>
</div>


{% endblock %}