{% extends 'index.html' %}
{% load static %}
{% block content %}

<p>Liste des produits :</p>


<div class="search_container">
    {% for produit in produits %}

      <div class="card search_card">
        <div class="card-image">
          <img src={{ produit.photoproduit1.url }}>
        </div>
            <a href="{% url 'ajout_panier' produit.numproduit %}" class="btn-flat halfway-fab waves-effect waves-light"><i class="material-icons">shopping_basket</i></a>
            {% if produit.idcommerce.livraisondisponible %}
            <a href="{% url 'ajout_panier' produit.numproduit %}" class="btn-flat halfway-fab waves-effect waves-light"><i class="material-icons">shopping_cart</i></a>
            {% endif %}
        <div class="card-content">
            <span class="card-title">{{ produit.nomproduit }}</span>
            <p>Prix : {{ produit.prixproduit }} euros</p>
        </div>
      </div>
    {% endfor %}
</div>



<ul class="pagination">

   {% if produits.has_previous %}

    <li class="waves-effect"><a href="{% url 'search' recherche produits.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect"><a href="{% url 'search' recherche produits.previous_page_number %}">{{ produits.previous_page_number }}</a></li>
   {% endif %}

    <li class="active"><a href="#!">{{ produits.number }}</a></li> <!-- produits.paginator.num_pages -->


   {% if produits.has_next %}

    <li class="waves-effect"><a href="{% url 'search' recherche produits.next_page_number %}">{{ produits.next_page_number }}</a></li>
    <li class="waves-effect"><a href="{% url 'search' recherche produits.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>

   {% endif %}

</ul>

{% endblock %}