{% extends 'index.html' %}

{% load static %}
{% block content %}

<div class="justify_center">
    <!--<form method="post" action="">
        {% csrf_token %}
        <div>
            <div class="switch">
                <label>
                  <span>Prix : Decroissant</span>
                  <input name="ordre" type="checkbox">
                  <span class="lever"></span>
                  <span>Croissant</span>
                </label>
            </div>
        </div>-->
    <form method="post" action="{% url 'comparaison_produit' %}">
    {% csrf_token %}
    <input class="btn_invisible" id="comparaison_produit1" name="produit1" type="number"><input class="btn_invisible" name="produit2" id="comparaison_produit2" type="number">
    <button type="Submit" id="btn_comparaison" class="btn pulse grey">Comparer les produits</button>
    </form>
</div>

<div class="search_container">
    {% for produit in produits %}
      <div class="card search_card">
      {% if produit.photoproduit1 %}
        <div class="card-image">
            <img class="materialboxed" width="350" src={{ produit.photoproduit1.url }}>
        </div>
      {% endif %}
            <a href="{% url 'read_produit' produit.numproduit %}" class="btn-flat halfway-fab waves-effect waves-light"><i class="material-icons">visibility</i></a>
            <a href="{% url 'ajout_reservation' produit.numproduit %}" class="btn-flat halfway-fab waves-effect waves-light"><i class="material-icons">shopping_basket</i></a>
            {% if produit.idcommerce.livraisondisponible %}
            <a href="{% url 'ajout_panier' produit.numproduit %}" class="btn-flat halfway-fab waves-effect waves-light"><i class="material-icons">shopping_cart</i></a>
            {% endif %}

        <div class="card-content">
            <div><span><I>{{ produit.nomproduit|truncatechars:18 }}</I></span></div> <!--Avec truncatechars on affiche ici les 18 premiers ccaractères du nomproduit-->
            <div><span>Prix : {{ produit.prixproduit }} euros</span></div>
            {% if produit.tauxremise > 0 %}
            <div><span>Promotion : {{ produit.tauxremise }} %</span></div>
            {% endif %}
            <form class="comparaison">
                <label>
                    <input id={{ produit.numproduit }} type="checkbox" />
                    <span>Comparer</span>
                </label>
            </form>
        </div>
      </div>
    {% endfor %}
</div>


<div class="justify_center">
    <ul class="pagination">

       {% if produits.has_previous %}

        <li class="waves-effect"><a href="{% url 'read_produit_by_categorie' numcategorie produits.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
        <li class="waves-effect"><a href="{% url 'read_produit_by_categorie' numcategorie produits.previous_page_number %}">{{ produits.previous_page_number }}</a></li>
       {% endif %}

        <li class="active teal"><a href="#!">{{ produits.number }}</a></li> <!-- produits.paginator.num_pages -->


       {% if produits.has_next %}

        <li class="waves-effect"><a href="{% url 'read_produit_by_categorie' numcategorie produits.next_page_number %}">{{ produits.next_page_number }}</a></li>
        <li class="waves-effect"><a href="{% url 'read_produit_by_categorie' numcategorie produits.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>

       {% endif %}

    </ul>
</div>
{% endblock %}