{% extends 'index.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m5">
        <h3> {{ utilisateur.first_name }} {{utilisateur.last_name }} </h3>
        <ul>
            <li>Email : {{ utilisateur.email }}</li>
            <li>Téléphone : {{ client.telephoneclient }}</li>
            <li>Date de naissance : {{ client.datenaissanceclient }}</li>
            <li>Adresse : {{ client.rueclient }}, {{ client.codepostalclient }} {{ client.villeclient }}</li>
        </ul>
        <div>
            <a class="waves-effect btn-small grey">Changer de mot de passe</a>
            <a class="waves-effect btn-floating green"><i class="material-icons">edit</i></a>
            <a class="btn-floating red"><i class="material-icons">delete</i></a>
        </div>
    </div>

    <div class="col s12 m7">
        <a class="btn" href="{% url 'mescommandesClient' %}">Mes commandes</a> <a class="btn" href="{% url 'mesreservationsClient' %}">Mes Réservations</a>

        {% block commandes %}
            <p>Mes commandes ou mes réservations</p>
        {% endblock %}

    </div>

</div>

{% endblock %}