{% extends 'index.html' %}

{% block content %}


<div class="row">
    <div class="col s12 m6">
            <h3> {{ commerce.nomcommerce}} </h3>
        <table class="striped">
            <tbody>
                <tr>
                    <td><b>Email</b></td>
                    <td>{{ commerce.emailcommerce }}</td>
                </tr>
                <tr>
                    <td><b>Telephone</b></td>
                    <td>{{ commerce.telephonecommerce }}</td>
                </tr>
                <tr>
                    <td><b>Adresse</b></td>
                    <td>{{ commerce.ruecommerce }}, {{ commerce.villecommerce }}, {{ commerce.codepostalcommerce}}</td>
                </tr>
                <tr>
                    <td><b>Livraison disponible</b></td>
                    <td>{{ commerce.livraisondisponible }}</td>
                </tr>
            </tbody>
        </table>
        <!--
        <ul>
            <li>Email : {{ gerer.numcommerce.emailcommerce }}</li>
            <li>Tel : {{ gerer.numcommerce.telephonecommerce }}</li>
            <li>Adresse : {{ gerer.numcommerce.ruecommerce }}, {{ gerer.numcommerce.villecommerce }}, {{ gerer.numcommerce.codepostalcommerce}}</li>
            <li>Livraison disponible : {{ gerer.numcommerce.livraisondisponible }}</li>
        </ul>
        -->
        {% if not estGerant %}
            {% if request.session.estClient %}
                {% if client.pointsclient >= 1000 %}
                <a class="btn" href="{% url 'create_reduction' commerce.numsiret %}">Générer une réduction pour ce commerce</a>
                {% endif %}
            {% endif %}
            <a class="btn" id="btn_search_map">Localiser le commerce<i class="material-icons">location_on</i></a>
            <input id="search_map" type="text" value="{{ commerce.nomcommerce }}" style="display: none;">
        {% endif %}
    </div>
    <div class="col s12 m6">
        {% if estGerant %}
            <div class="row">
                <div class="col s12 m7">
                {% if commerce.livraisondisponible %}
                    <a class="btn-small" href="{% url 'list_commandes_commerce' commerce.numsiret %}">Voir les commandes effectuées</a>
                {% endif %}
                    <a class="btn-small" href="{% url 'list_reservations_commerce' commerce.numsiret %}">Voir les réservations en attente</a>
                </div>
                <div class="col s12 m7">
                    <a class="btn-small teal" href="{% url 'create_produit' commerce.numsiret %}">Ajouter un produit</a>
                    <a class="btn-small teal" href="{% url 'produit_by_commerce' commerce.numsiret 1 %}">Voir mes produits</a>
                </div>
                <div class="col s12 m7">
                    <a class="waves-effect btn-small green" href="{% url 'update_commerce' idcommerce=commerce.numsiret %}">Modifier</a>
                    <a class="btn-floating red" href="{% url 'delete_commerce' idcommerce=commerce.numsiret %}"><i class="material-icons">delete</i></a>
                </div>
            </div>
        {% else %}
            <div id="mapid"></div>
        {% endif %}
    </div>
</div>

{% endblock %}