{% extends 'index.html' %}

{% block content %}
<div class="col s12 m10 offset-m1">
    <div class="row">
        <div class="col s12 m5"> 
           
         <div class="carousel carousel-slider center">
            {% if produit.photoproduit1 %}
            <div class="carousel-item" href="#one!">
              <img src={{ produit.photoproduit1.url }}>
            </div>
            {% endif %}
            {% if produit.photoproduit2 %}
            <div class="carousel-item" href="#two!">
              <img src={{ produit.photoproduit2.url }}>
            </div>
            {% endif %}
            <ul class="indicators">
              {% if produit.photoproduit1 %}
              <li class="indicator-item red"></li>
              {% endif %}
              {% if produit.photoproduit2 %}
              <li class="indicator-item red"></li>
              {% endif %}
            </ul>
          </div>

        </div>

        <div class="col s12 m7">
            <h3> {{ produit.nomProduit }}  </h3>
            <table class="striped">
        <thead>
          <tr>
              <th>Details produit</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Produit</td>
            <td>{{ produit.nomproduit }}</td>
          </tr>
          <tr>
            <td>Marque</td>
            <td>{{ produit.marqueproduit }}</td>
          </tr>
          <tr>
            <td>Descriptif</td>
            <td>{{ produit.descriptifproduit }}</td>
          </tr>
          <tr>
            <td>Caracteristiques</td>
            <td>{{ produit.caracteristiquesproduit }}</td>
          </tr>
        </tbody>
      </table>
      <a class="btn" href="{% url 'mescommandesClient' %}">Ajouter commandes</a> <a class="btn" href="{% url 'mesreservationsClient' %}">Ajouter Réservations</a>
        </div>
    </div>
</div>

{% endblock %}