{% extends 'index.html' %}

{% block content %}
<div class="col s12 m10 offset-m1">
    <div class="row">
        <div class="col s12 m5"> 
           
         <div class="carousel carousel-slider center">
            {% if produit.photoproduit1 %}
            <div class="carousel-item" href="#one!">
              <img src={{ produit.photoproduit1.url }}>
            </div>
            {% endif %}
            {% if produit.photoproduit2 %}
            <div class="carousel-item" href="#two!">
              <img src={{ produit.photoproduit2.url }}>
            </div>
            {% endif %}
            <ul class="indicators">
              {% if produit.photoproduit1 %}
              <li class="indicator-item red"></li>
              {% endif %}
              {% if produit.photoproduit2 %}
              <li class="indicator-item red"></li>
              {% endif %}
            </ul>
          </div>

        </div>

        <div class="col s12 m7">
            <h3> {{ produit.nomProduit }}  </h3>
            <table class="striped">
        <thead>
          <tr>
              <th>Details produit</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Produit</td>
            <td>{{ produit.nomproduit }}</td>
          </tr>
          <tr>
            <td>Marque</td>
            <td>{{ produit.marqueproduit }}</td>
          </tr>
          <tr>
            <td>Descriptif</td>
            <td>{{ produit.descriptifproduit }}</td>
          </tr>
          <tr>
            <td>Caracteristiques</td>
            <td>{{ produit.caracteristiquesproduit }}</td>
          </tr>
        </tbody>
      </table>
      <a class="btn" href="{% url 'ajout_panier' produit.numproduit %}">Ajouter commandes</a> <a class="btn" href="{% url 'ajout_reservation' produit.numproduit %}">Ajouter Réservations</a>
        </div>
    </div>
</div>

<div class="DebCom">
  <h4>Commentaires</h4>
  
  <div class = "BlocCom">
  {% if user.is_authenticated %}
    {% if request.session.estClient %}
    <div class ="Commentaire">
      <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in formCommentaire %}
        {% for error in field.errors %}
        <div class="textError">
           <p>{{ error }}</p>
         </div>
        {% endfor %}
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <small>{{ field.help_text }}</small>
          {% endif %}
      {% endfor %}
      <div class="boutonForm">
        <button class="btn purple" type="submit" >Ajouter un commentaire</button>
      </div>
      * Vous ne pouvez poster qu'un seul commentaire
      </br>
      * La note est comprise entre 0 et 5
      </form>
    </div>
    {% endif %}
  {% endif %}
  </br>
    <div class ="Commentaire">
    {% for commentaire in commentaires %}
        <table class="striped">
          <tbody>
          <tr>
            <td>Date :</td>
            <td>{{ commentaire.datecommentaire }}</td>
          </tr>
          <tr>
            <td>Commentaire :</td>
            <td>{{ commentaire.commentaire }}</td>
          </tr>
          <tr>
            <td>Note : </td>
            <td>{{ commentairer.note }}</td>
          </tr>
        </tbody>
        </br>
      </table>   
    {% endfor %}
    </div>
</div>
{% endblock %}















