{% extends 'index.html' %}

{% block content %}


<div class="row">


    <div class="col s12 m5">
        <h3> {{ utilisateur.first_name }} {{utilisateur.last_name }} </h3>
        <ul>
            <li>Email : {{ utilisateur.email }}</li>
            <li>Tel : {{ commercant.telephonecommercant }}</li>
        </ul>
        <a href="{% url 'updatecommercant' %}"class="btn green">Modifier <i class="material-icons">edit</i></a>
    </div>

    <div  class="col s12 m5">
        <div class="container">
            <a class="btn teal"href="{% url 'read_commerce_by_commercant' %}">Voir mes Commerces</a>
            <a class="btn teal"href="{% url 'create_commerce' %}">Ajouter un Commerce</a>

        </div>
    </div>
</div>

{% endblock %}