{% extends 'index.html' %}


{% block content %}
  <div class="page">
    <div class = "formulaire">
      <div class="blocCentrer">
        <div class= "titreForm">Créez votre commerce</div>

        <br>
          <form method="post">
            {% csrf_token %}

            <div>
              {{ formCommerce.numsiret.label_tag }}
              {{ formCommerce.numsiret }}
            </div>

            <div>
              {{ formCommerce.nomcommerce.label_tag }}
              {{ formCommerce.nomcommerce }}
            </div>

            <div>
              {{ formCommerce.typecommerce.label_tag }}
              {{ formCommerce.typecommerce }}
            </div>

            <div>
              {{ formCommerce.emailcommerce.label_tag }}
              {{ formCommerce.emailcommerce }}
            </div>

            <div>
              {{ formCommerce.livraisondisponible.label_tag }}
              {{ formCommerce.livraisondisponible }}
            </div>

            <div>
              {{ formCommerce.joursretrait.label_tag }}
              {{ formCommerce.joursretrait }}
            </div>

            <div>
              {{ formCommerce.telephonecommerce.label_tag }}
              {{ formCommerce.telephonecommerce }}
            </div>

            <div>
              {{ formCommerce.codepostalcommerce.label_tag }}
              {{ formCommerce.codepostalcommerce }}
            </div>

            <div>
              {{ formCommerce.villecommerce.label_tag }}
              {{ formCommerce.villecommerce }}
            </div>

            <div>
              {{ formCommerce.ruecommerce.label_tag }}
              {{ formCommerce.ruecommerce }}
            </div>

            <a id="gpsbutton" class="btn">Récuperer les coordonnées gps de mon établissement</a>

            <div>
              {{ formCommerce.gpslatitude.label_tag }}
              <input type="number" name="gpslatitude" step="any" readonly required="" id="id_gpslatitude">
            </div>

            <div>
              {{ formCommerce.gpslongitude.label_tag }}
              <input type="number" name="gpslongitude" step="any" readonly required="" id="id_gpslongitude">
            </div>

            <div class="boutonForm">
              <button class="btn purple" type="submit">Envoyer</button>
            </div>
          </form>
      </div>
    </div>
  </div>
{% endblock %}

