{% extends 'index.html' %}


{% block content %}
  <div class="page">
    <div class = "formulaire">
      <div class="blocCentrer">
        <div class= "titreForm">Créez votre commerce</div>

        <br>
          <form method="post">
            {% csrf_token %}
            {% for field in formCommerce %}
            <div>
              {{ field.label_tag }}<br>
              {{ field }}
            </div>
            {% endfor %}
            <a id="gpsbutton" class="btn">Récuperer les coordonnées gps de mon établissement</a>
            <label for="gpslatitude">Latitude:</label>
            <input id="gpslatitude" type="number" value="0.0" readonly>
            <label for="gpslongitude">Longitude:</label>
            <input id="gpslongitude" type="number" value="0.0" readonly>
            <div class="boutonForm">
              <button class="btn purple" type="submit">Envoyer</button>
            </div>
          </form>
      </div>
    </div>
  </div>
{% endblock %}