{% extends 'index.html' %}


{% block content %}
    <div class="justify_center">
        <h3><U>Vous avez le droit à une réduction : </U></h3>

    </div>
    <div class="justify_spacearound">
        <form  method="post">
            {% csrf_token %}
            {{ formReduction }}
            <button class="btn" type="Submit">Générer une réduction <i class="material-icons">send</i></button>
        </form>

        <div>
            <ul>
                <I>
                    <li>Les réductions sont valables uniquement lors de réservations.</li>
                    <li>Le commerçant validera votre réduction lors du paiement en caisse.</li>
                    <li>Commerce affilié à cette réduction : {{ commerce.nomcommerce }}</li>
                </I>
            </ul>

        </div>
    </div>
{% endblock %}